.preview-container p {
	font-size: 1em;
}
.preview-container pre {
	font-size: 0.4em;
}
.preview-container blockquote {
	border-left: 3px solid rgba(84, 104, 255, 0.8) !important;
	border-right: none !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 15px !important;
	background-color: #f7f7f7 !important;
	background-image: linear-gradient(180deg, #fff, #f5f5fa) !important;
	--text-opacity: 1 !important;
	color: #484c7a !important;
	box-shadow: 0 4px 11px 0 rgb(37 44 97 / 9%), 0 1px 3px 0 rgb(93 100 148 / 6%) !important;
	margin: 10px 5px 10px 0 !important;
	font-size: 14px;
	font-weight: 400;
}